  *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .profile{
    justify-content: center;
    /* align-items: center; */
    display: flex;
    font-size: 5rem;
    color: #b6dfc6;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .profile-container {
    padding: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .portfolio-input {
    margin-bottom: 16px;
  }
  
  .portfolio-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .portfolio-card:hover {
    background-color: #e3e3e3;
  }
  
  .create-card {
    background-color: #d1e7dd;
    font-weight: bold;
    padding: 50px;
    font-size: 18px;
  }
  
  .create-card:hover {
    background-color: #b6dfc6;
  }
  